body {
    background-color: #f1f1f1;
    color: black;

font-size: 16px;
font-weight: normal;
font-family: 'Times New Roman', Times, serif;

}

.avatar {
width: 150px;  
border-radius: 28px;
box-shadow: -14px -14px 14px rgba(16, 27, 209, 1);
}

.earch {
   box-shadow: 11px -18px 14px 5px rgb(11, 126, 9);
    border-radius: 60px;
    
}

.hoby {
    box-shadow: 4px 4px 14px;
    border-radius: 20%;
}

.note {
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}